/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../al-gra/sass/base/_layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../al-gra/sass/base/_layout.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  background: #eeeeee;
  color: #666666;
}
@media screen and (max-width: 1040px) {
  /* line 7, ../al-gra/sass/base/_layout.scss */
  body {
    margin: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  /* line 7, ../al-gra/sass/base/_layout.scss */
  body {
    font-size: 13px;
  }
}

/* line 20, ../al-gra/sass/base/_layout.scss */
h1 {
  font-size: 1.8em;
}

/* line 23, ../al-gra/sass/base/_layout.scss */
h2 {
  font-size: 1.5em;
}

/* line 26, ../al-gra/sass/base/_layout.scss */
h3 {
  font-size: 1.3em;
}

/* line 29, ../al-gra/sass/base/_layout.scss */
a {
  text-decoration: none;
  outline-width: 0;
  color: #258fb8;
}

/* line 34, ../al-gra/sass/base/_layout.scss */
.alignleft {
  float: left;
}

/* line 37, ../al-gra/sass/base/_layout.scss */
.alignright {
  float: right;
}

/* line 40, ../al-gra/sass/base/_layout.scss */
.inner {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1040px) {
  /* line 40, ../al-gra/sass/base/_layout.scss */
  .inner {
    width: 100%;
  }
}

/* line 2, ../al-gra/sass/base/_typography.scss */
.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

/* line 22, ../al-gra/sass/base/_typography.scss */
.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* line 8, ../al-gra/sass/custom/_custom.scss */
hr {
  margin: 20px 0px;
  color: #9d9d9d;
}

/* line 13, ../al-gra/sass/custom/_custom.scss */
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  background-color: #fff0e8 !important;
  text-align: center;
  width: auto !important;
}

/*-----------------------------
    RESET STYLES
-----------------------------*/
/* line 28, ../al-gra/sass/custom/_custom.scss */
.container:focus {
  outline: 0;
}

/* line 32, ../al-gra/sass/custom/_custom.scss */
.header-bar {
  font-size: 12px;
  height: 100px;
  letter-spacing: 0px;
}
/* line 37, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-logo {
  font-size: 80px;
}
/* line 40, ../al-gra/sass/custom/_custom.scss */
.header-bar .item-background {
  text-align: center;
  margin: 10px 5px;
  padding: 5px;
  width: auto;
  min-width: 40px;
  height: 80%;
  background-color: #CD2626;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}
/* line 51, ../al-gra/sass/custom/_custom.scss */
.header-bar .item-background .item {
  color: white;
  font-size: 30px;
  line-height: 50px;
  margin: 20px;
}

/* line 59, ../al-gra/sass/custom/_custom.scss */
.button {
  padding: 15px 15px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  width: auto;
  border-radius: 5px;
}

/* line 67, ../al-gra/sass/custom/_custom.scss */
.game-tool {
  width: 500px;
  height: auto;
  padding: 20px 0px;
}

/* line 72, ../al-gra/sass/custom/_custom.scss */
.game-tool-button {
  background-color: #8968cd;
  margin: 0px 5px;
}

/* line 76, ../al-gra/sass/custom/_custom.scss */
.playing-area {
  margin: 10px;
  width: 500px;
  height: 500px;
  clear: both;
  float: left;
}
/* line 82, ../al-gra/sass/custom/_custom.scss */
.playing-area #gameGrid {
  z-index: 10;
}
/* line 85, ../al-gra/sass/custom/_custom.scss */
.playing-area #gameGridBackground {
  z-index: -1;
  position: absolute;
}

/* line 90, ../al-gra/sass/custom/_custom.scss */
.game-notice {
  line-height: 35px;
  text-align: left;
}
/* line 93, ../al-gra/sass/custom/_custom.scss */
.game-notice .game-notice-label {
  font-size: 22px;
  color: #575757;
  margin: 0px 10px 0px 0px;
}
/* line 98, ../al-gra/sass/custom/_custom.scss */
.game-notice .game-notice-text {
  font-size: 18px;
  color: #575757;
}

/* line 104, ../al-gra/sass/custom/_custom.scss */
.wheel {
  width: 500px;
  height: 80px;
  text-align: center;
  clear: both;
}
/* line 109, ../al-gra/sass/custom/_custom.scss */
.wheel .wheel-button {
  margin: 30px 0px;
  width: 60px;
  height: 30px;
}

/* line 115, ../al-gra/sass/custom/_custom.scss */
.animate-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
  background: white;
}

/* line 123, ../al-gra/sass/custom/_custom.scss */
.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
  display: block !important;
}

/* line 127, ../al-gra/sass/custom/_custom.scss */
.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

/* line 133, ../al-gra/sass/custom/_custom.scss */
.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

/* import typography */
