/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Environment/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../al-gra/sass/base/_layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../al-gra/sass/base/_layout.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  background: #eeeeee;
  color: #666666;
}
@media screen and (max-width: 1040px) {
  /* line 7, ../al-gra/sass/base/_layout.scss */
  body {
    margin: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  /* line 7, ../al-gra/sass/base/_layout.scss */
  body {
    font-size: 13px;
  }
}

/* line 20, ../al-gra/sass/base/_layout.scss */
h1 {
  font-size: 1.8em;
}

/* line 23, ../al-gra/sass/base/_layout.scss */
h2 {
  font-size: 1.5em;
}

/* line 26, ../al-gra/sass/base/_layout.scss */
h3 {
  font-size: 1.3em;
}

/* line 29, ../al-gra/sass/base/_layout.scss */
a {
  text-decoration: none;
  outline-width: 0;
  color: #258fb8;
}

/* line 34, ../al-gra/sass/base/_layout.scss */
.alignleft {
  float: left;
}

/* line 37, ../al-gra/sass/base/_layout.scss */
.alignright {
  float: right;
}

/* line 40, ../al-gra/sass/base/_layout.scss */
.inner {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1040px) {
  /* line 40, ../al-gra/sass/base/_layout.scss */
  .inner {
    width: 100%;
  }
}

/* line 2, ../al-gra/sass/base/_typography.scss */
.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

/* line 22, ../al-gra/sass/base/_typography.scss */
.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* line 1, ../al-gra/sass/custom/_custom.scss */
body {
  font-family: 'Open Sans', 'Anonymous Pro', 'Source Code Pro';
  font-size: 12px;
  background-color: white;
  width: 400px;
  overflow: hidden;
}

/*-----------------------------
    RESET STYLES
-----------------------------*/
/* line 13, ../al-gra/sass/custom/_custom.scss */
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 22, ../al-gra/sass/custom/_custom.scss */
.container:focus {
  outline: 0;
}

/* line 23, ../al-gra/sass/custom/_custom.scss */
.header-bar {
  font-size: 12px;
  width: 400px;
  min-height: 30px;
  max-height: 30px;
  letter-spacing: 0px;
  border-bottom: 1px solid #eee;
}
/* line 31, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-base {
  position: fixed;
  opacity: 1;
  z-index: 10;
  height: 30px;
  background-color: white;
}
/* line 38, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-base .header-bar-logo {
  font-size: 18px;
  margin: 5px 5px;
  float: left;
}
/* line 43, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-base .advanced-btn {
  border: none;
  padding: 5px 10px;
  position: absolute;
  background: #fff;
  letter-spacing: 2px;
}
/* line 49, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-base .advanced-btn:hover {
  padding: 5px 10px;
  -webkit-box-shadow: 0 2px 4px #d6d6d6;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 4px #d6d6d6;
  color: #333;
}
/* line 56, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-base .advanced-btn:active {
  background: #d6d6d6;
}
/* line 60, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-base .advanced-btn-active {
  background-color: #d6d6d6;
}
/* line 64, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-more {
  opacity: 1;
  z-index: 10;
  clear: both;
  height: 30px;
  position: absolute;
  top: 35px;
  font-size: 14px;
}
/* line 72, ../al-gra/sass/custom/_custom.scss */
.header-bar .header-bar-more .more-label {
  padding: 2px 5px;
  letter-spacing: 0px;
}

/* line 78, ../al-gra/sass/custom/_custom.scss */
.game-zone {
  width: 350px;
  height: 450px;
}
/* line 81, ../al-gra/sass/custom/_custom.scss */
.game-zone .game-tool-zone {
  width: 350px;
  height: 100px;
}
/* line 84, ../al-gra/sass/custom/_custom.scss */
.game-zone .game-tool-zone .score-background {
  float: left;
  text-align: center;
  vertical-align: middle;
  margin: 20px 0px 0px 20px;
  width: 150px;
  height: 80px;
  background-color: #FDF5E6;
  font-size: 20px;
}
/* line 93, ../al-gra/sass/custom/_custom.scss */
.game-zone .game-tool-zone .score-background .score {
  font-size: 30px;
  line-height: 50px;
  margin: 20px;
}
/* line 100, ../al-gra/sass/custom/_custom.scss */
.game-zone .playing-area {
  width: 350px;
  height: 350px;
  clear: both;
  float: left;
}
/* line 105, ../al-gra/sass/custom/_custom.scss */
.game-zone .playing-area #gameGrid {
  position: absolute;
  margin-top: 130px;
  top: 0px;
}
/* line 110, ../al-gra/sass/custom/_custom.scss */
.game-zone .playing-area #gameGridBackground {
  top: 0px;
  position: absolute;
  margin-top: 130px;
}

/* line 117, ../al-gra/sass/custom/_custom.scss */
.wheel {
  width: 370px;
  height: 50px;
  text-align: center;
  margin: 20px 0px 0px 0px;
  clear: both;
}
/* line 123, ../al-gra/sass/custom/_custom.scss */
.wheel .wheel-button {
  width: 60px;
  height: 30px;
}

/* line 128, ../al-gra/sass/custom/_custom.scss */
.animate-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
  background: white;
}

/* line 136, ../al-gra/sass/custom/_custom.scss */
.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
  display: block !important;
}

/* line 140, ../al-gra/sass/custom/_custom.scss */
.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

/* line 146, ../al-gra/sass/custom/_custom.scss */
.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

/* import typography */
