
$game-tool-zone-height: 90px;
$header-bar-min-height: 30px;
$play-area-size: 500px;
$funciton-key-button: #8968CD;
// $game-board-width: 500px;

hr {
  margin: 20px 0px;
  color: #9d9d9d;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  background-color: $color-background !important;
  text-align: center;
  // min-width: $game-board-width;
  width: auto !important;
  // width: $game-board-width;
}

/*-----------------------------
    RESET STYLES
-----------------------------*/
.container {
  // width: $game-board-width;
  &:focus {
    outline: 0;
  }
}
.header-bar {
  font-size: 12px;
  // width: $game-board-width;
  height: 100px;
  letter-spacing: 0px;
  .header-bar-logo {
    font-size: 80px;
  }
  .item-background {
    text-align: center;
    margin: 10px 5px;
    padding: 5px;
    width: auto;
    min-width: 40px;
    height: 80%;
    background-color: #CD2626;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    .item {
      color: white;
      font-size: 30px;
      line-height: 50px;
      margin: 20px;
    }
  }
}
.button {
  padding: 15px 15px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  width: auto;
  border-radius: 5px;
}
.game-tool {
  width: $play-area-size;
  height: auto;
  padding: 20px 0px;
}
.game-tool-button {
  background-color: $funciton-key-button;
  margin: 0px 5px;
}
.playing-area {
  margin: 10px;
  width: $play-area-size;
  height: $play-area-size;
  clear: both;
  float: left;
  #gameGrid {
    z-index: 10;
  }
  #gameGridBackground {
    z-index: -1;
    position: absolute;
  }
}
.game-notice {
  line-height: 35px;
  text-align: left;
  .game-notice-label {
    font-size: 22px;
    color: #575757;
    margin: 0px 10px 0px 0px;
  }
  .game-notice-text {
    font-size: 18px;
    color: #575757;
  }
}

.wheel {
  width: $play-area-size;
  height: 80px;
  text-align: center;
  clear: both;
  .wheel-button {
    margin: 30px 0px;
    width: 60px;
    height: 30px;
  }
}
.animate-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1;
  background:white;
}

.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
  display:block!important;
}

.animate-hide.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.check-element {
  padding:10px;
  border:1px solid black;
  background:white;
}