<!DOCTYPE HTML>
<html ng-app="game2048">
<head>
  <meta charset="utf-8">
  <title>Xiaodan's Everything</title>
  <meta name="author" content="Mengdan Zhu  (Daniel Zhu)">
  <link href="/favicon.png" rel="shortcut icon">
  <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">

  <!-- Third party libraries -->
  <script src="./libs/jquery/jquery-2.0.3.js"></script>
  <script src="./libs/ba-debug.js"></script>
  <script src="./libs/angular.min.js"></script>
  <script src="./libs/timer.js"></script>

  <script src="main.js"></script>
</head>
<body ng-controller="AppController"  >
  <div class="container" >
    <div class="header-bar">
      <div class="header-bar-base">
        <div class="header-bar-logo">Game 2048 by Dan(enterzhu@gmail.com) <!-- <button href="" ng-click="addCard()">Add Card</button> --> </div>
      </div>
      <div class="header-bar-more animate-hide" ng-show="checked">
        <div>
        </div>
      </div>
    </div>
    <div class="game-zone">
      <div class="game-tool-zone">
        <div class="score-background">Score<br><span class="score">{{score}}</span></div>
        <div class="score-background">Steps<br><span class="score">{{totalSteps}}</span></div>
      </div>
      <div class="playing-area" ng-keyup="moveStepPre()" tabindex="1" >
        <canvas id="gameGridBackground" width="350" height="350" style="">Your browser does not support the HTML5 canvas tag.</canvas>
        <canvas id="gameGrid" width="350" height="350" style="">Your browser does not support the HTML5 canvas tag.</canvas>
      </div>
    </div>
    <div class="wheel">
      <button href="" class="wheel-button" ng-click="moveStep(37)">Left</button>&nbsp;&nbsp;
      <button href="" class="wheel-button" ng-click="moveStep(39)">Right</button>&nbsp;&nbsp;
      <button href="" class="wheel-button" ng-click="moveStep(38)">Up</button>&nbsp;&nbsp;
      <button href="" class="wheel-button" ng-click="moveStep(40)">Down</button>&nbsp;&nbsp;
    </div>
  </div>
</body>
</html>